<div class="card" style="border:1px solid black;">
    <h3>Hello i am a partial :)</h3>
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{team}}</p>
  </div>
  <img class="card-img-top" src="{{photo}}" alt="" height="100">

  <button>Hola</button>
</div>