<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My first view</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Fuga, adipisci illo! Natus, quas?</li>
        <li>Est blanditiis laboriosam illum maiores!</li>
        <li>Sequi nesciunt est assumenda tempore.</li>
        <li>Alias qui labore laborum doloribus.</li>
        <li>Obcaecati ipsa sunt quidem nisi?</li>
        <li>Id vero pariatur animi. Voluptate.</li>
        <li>Ipsa a totam unde dicta.</li>
        <li>Culpa aperiam nisi dignissimos minus?</li>
        <li>Sit suscipit ea dicta eius?</li>
    </ul>
</body>

</html>